*{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
  font-size: 5rem;
}

.navbar-nav li{
    justify-content: end;
}

#nav .nav-item .nav-link{
  color:white;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
}

#nav .nav-item .nav-link:hover{
  color:blue;
}

#home {
    background-image:url("/image/study.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:400px;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#aboutImg{
    padding-left: 5%;
}
​
.aboutme h2{
    text-align: center;
    font-size: 40px;
}
#aboutRow{
    padding-top: 2%;
    display: flex;
}
.hobbies h2{
    text-align: center;
    font-size: 40px;
}
.project h2{
    text-align: center;
    font-size: 40px;
}
#projectImg img{
    padding-left: 15%;   
}
#projectRow{
    display: flex;
    justify-content: space-between;
}
#footer{
    text-align: center;
}
#hobbyRow ul{
    padding-left: 20%;
}
h2{
  font-size:40px;
  text-align: center;
    color: chocolate;    
}
#footer h2{
    font-size: 40px;
}
#content{
    padding-top:10%;
    padding-left:2%;
}
#nav .nav-item .nav-link{
    color:white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
}
#nav .nav-item .nav-link:hover{
    color:blue;
}

.color{
  background-color: rgb(248, 239, 239);
  font-size: x-large;
}

img{
  border-radius: 25px;
}

span{
    color: indigo;
}








