
 
*{
    padding: 2px;
    margin: 2px; 
  
  }
  #home{
      position: relative;
      max-width: 100%;
      margin: auto;
  }
  #home img{vertical-align: middle;}
  #home #content{
      position: absolute;
      bottom: 0;
      background: rgb(0,0,0);
      background: rgba(0, 0, 0, 0.5);
      color:blanchedalmond;
      width: 100%;
      padding: 10px;
      height: 200px;
  }
    h1{
      font-family: 'Gabriela', serif;
      size: 25px;
    }
    #nav{
        text-align: right;
    }
    #nav ul{
      list-style-type: none;
    }
    #nav li{
      display: inline-block;
      margin-right: 30px;
      font-family: 'Mirza', cursive;
    }
    #nav a:hover{
       background-color: black;
    }
    #nav a{
        text-decoration: none;
        text-transform: uppercase;
    }
    p{
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: lighter;
    }